.background {
  background-color: #505050 ;
 }

body::before {
  display: block;
  content: '';
  height: 70px;
}

.container {
  display:grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
}