.card {
    width: 450px;
    height: 425px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.card:hover {
    height: 750px;
    overflow: visible;
}

.poster {
    width: 28em;
    height: 20em;
    object-fit: scale-down;
    transition: 0.5s;
}

.poster:hover {
    transform: scale(1.1)
}

.overview {
    padding-left: 20px;
    padding-right: 20px;
}

.title {
    font-weight: bold;
    margin: 20px;
}